

.article {
   max-width: 700px;
   margin: 0px auto;
   padding-left: 16px;
   padding-right: 16px;

   h2 {
      font-family: Roboto, Helvetica, Arial, sans-serif;
      font-size: 24px;
      line-height: 32px;
      font-weight: 400;
      text-indent: 0px;
      color: #333;
      margin-top: 50px;
      margin-bottom: 28px;
   }

   p {
      line-height: 24px;
      font-family: Roboto, Helvetica, Arial, sans-serif;
      font-size: 15px;
      font-weight: 400;
      text-indent: 16px;
      color: #333;
   }

   ul {
      max-width: 500px;
      margin-top: 16px;
      margin-bottom: 16px;
   }

   li {
      margin-bottom: 4px;
      font-family: Roboto, Helvetica, Arial, sans-serif;
      font-size: 15px;
      line-height: 24px;
      font-weight: 400;
      text-indent: 0px;
      color: #333;
   }

   &__lead-image {
      width: 100%;
   }
}